<?xml version="1.0" encoding="utf-8"?>
<openerp>
<data>

    <!-- MENU GỐC -->
    <menuitem id="mp_parent" name="Quản lý kho mỹ phẩm" icon="STOCK_OPEN"/>

    <!-- NHÓM -->
    <menuitem id="menu_mp_master" name="Dữ liệu" parent="mp_parent"/>
    <menuitem id="menu_mp_stock" name="Kho" parent="mp_parent"/>

    <!-- CATEGORY -->
    <menuitem action="action_category"
              id="menu_category"
              parent="menu_mp_master"
              string="Danh mục"/>

    <!-- PRODUCT -->
    <menuitem action="action_product"
              id="menu_product"
              parent="menu_mp_master"
              string="Sản phẩm"/>

    <!-- STOCK DOCUMENT -->
    <menuitem action="action_stock"
              id="menu_stock"
              parent="menu_mp_stock"
              string="Phiếu kho"/>

</data>
</openerp>
